<html>
    <head>
        <title>Metadata.Exposed</title>
    </head>
    <body>
        <h1>Metadata Exposed!</h1>

        <form action="/save" method="POST" enctype="multipart/form-data">
            <input type="file" name="file"><br/><br/>
            <input type="submit" value="Upload">
        </form>

        Powered by: <a href="https://github.com/intrigueio/galton">Galton</a>
    </body>
</html>
