<h1>Metadata Exposed!</h1>
<p>This service is provided for free for digital investigators. It will parse and display metadata from many common file types.</p>
<p>For your protection, files are deleted immediately after parsing. If you do not wish to upload your files, you can run <a href="https://github.com/jcran/galton">the service</a> locally.</p>
<p>
  <form id="file_form" action="/metadata" method="POST" enctype="multipart/form-data">
      <!--<input type="text" name="uri"><br>-->
      <input type="file" name="file"/><br><br>
      <%= "#{recaptcha_tags if settings.environment == :production}" %><br>
      <input type="submit"/>
  </form>
</p>
