<html>
    <head>
        <title>Metadata</title>
    </head>
    <body>

      <% if @metadata %>
        <h1>Metadata</h1>
        <ul><%= out %></ul>
        </p>
      <% end %>

      <% if @errors %>
        <h1>Errors</h1>
        <p><pre><%= @errors %></pre></p>
      <% end %>

    </body>
</html>
